main {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    padding: 15px;
}

.first-letter::first-letter {
    font-size: 3em;
    text-transform: uppercase;
}

.red::first-letter {
    color: red;
}

.first-line::first-line {
    text-transform: uppercase;
}

.blue::first-line {

    color: blue;
}